<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />

    <title>Latihan 7.1 Data Binding</title>
  </head>

  <body>
    <div id="app" class="container-fluid my-3 col-6">
      <div class="form-group">
        <input type="text" name="name" v-model="search" class="form-control" />
        Cari khusus: {{ search }}
      </div>
      <h2>List Buku</h2>
      <ul v-for="book in booksFiltered">
        <li>{{ book }}</li>
      </ul>
    </div>

    <!-- Bootstrap 4.6 -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>

    <!-- Vue Script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Kodingan Vue -->
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          search: "",
          books: [
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linear Elementer",
            "Aljabar Abstrak",
            "Algoritma Pemrograman",
          ],
        },
        computed: {
          booksFiltered() {
            return this.books.filter((book) => {
              return book.toLowerCase().includes(this.search.toLowerCase());
            });
          },
        },
      });
    </script>
  </body>
</html>
