<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
        <input type="text" id="masukan"/>
        <!-- Tombol Edit -->
        <button v-on:click="fiksganti" v-if="edit">Update</button>
        <button v-on:click="batal" v-if="edit">Batal</button>
        <!-- Tombol Tambah -->
        <button v-on:click="tambah" v-else="edit">Masukkan</button>
        <input type="text" id="entahlah" hidden>





      <h1>Data User</h1>
      <ul>
        <li v-for="n in users.length">
          {{ users[n-1].name }}
          <button v-on:click="hapus(n-1)">Hapus</button>
          <button v-on:click="ganti(n-1)">edit</button>
        </li>
      </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          users: [
            { name: "Muhammad Iqbal Mubarok"},
            { name: "Ruby Purwanti"},
            { name: "Faqih Muhammad"},
          ],
          edit : false,
          editke : 0,
        },
        methods: {
          // saat klik tambah di form paling atas
          tambah: function () {
            let baru = {
              name : document.getElementById("masukan").value 
            }
            this.users.push(baru)
            console.log(this.users)
            document.getElementById("masukan").value = ""
          },
          // saat klik delet di list
          hapus: function(index) {
            console.log(index)
            this.users.splice(index,1)
            // Agar kalo pas sedang edit tombol hapus dipencet, amankan dulu
            document.getElementById("masukan").value = ""
            document.getElementById("entahlah").value = ""
            this.edit = false

          },
          // Saat klik edit di list
          ganti: function(index) {
            this.edit = true
            document.getElementById("masukan").value = this.users[index].name
            document.getElementById("entahlah").value = index
          },
          // saat klik edit di paling atas
          fiksganti: function() {
            index = document.getElementById("entahlah").value
            // edit array pake splice jadinya
            this.users.splice(index, 1, { name : document.getElementById("masukan").value } )
            this.edit = false
            document.getElementById("masukan").value = ""
            document.getElementById("entahlah").value = ""
          },
          // saat klik batal edit di paling atas
          batal: function() {
            this.edit = false
            document.getElementById("masukan").value = ""
            document.getElementById("entahlah").value = ""
          }


        },
      });
    </script>
  </body>
</html>
